@import "./fonts";
@import "./bootstrap";
@import "./utils";
@import "./libs";

@import "./overide.scss";

html {
  scroll-behavior: smooth;
  ::-moz-selection {
    background: $secondary;
  }

  ::selection {
    background: $secondary;
  }
  font-size: 16px;
}
